@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../../fonts/open-sans-300-normal.woff2') format('woff2'),
    url('../../fonts/open-sans-300-normal.woff') format('woff'),
    url('../../fonts/open-sans-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
