@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../../fonts/open-sans-400-normal.woff2') format('woff2'),
    url('../../fonts/open-sans-400-normal.woff') format('woff'),
    url('../../fonts/open-sans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
